.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 0;

  @include vp-1365 {
    grid-template-columns: none;
    padding: 0;
    max-width: 440px;
  }

  @include vp-767 {
    gap: 35px;
    margin-bottom: 70px;
  }
}

.cards__item {
  padding: 58px 71px;
  border: 7px solid $color-transparent;
  text-align: center;
  background-color: $color-default-white;
  max-width: 360px;
  position: relative;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 440px;
    padding: 58px 110px;
  }

  @include vp-767 {
    padding: 43px 35px;
    max-width: 290px;
    gap: 14px;
  }

  &--current {
    border: 7px solid;
    padding: 58px 71px;
    border-image: $main-screen-gradient;
    border-image-slice: 1;

    @include vp-1365 {
      padding: 58px 111px;
    }

    @include vp-767 {
      padding: 43px 35px;
    }
  }

  @include hover-focus {
    border-image: $main-screen-gradient;
    border-image-slice: 1;

    .cards__button {
      color: $color-default-white;
      background: $gradient-primary;
      border: 2px solid;
      border-image: $color-transparent;

      &--current {
        border: none;
      }
    }
  }
}

.cards__title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 11px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.cards__description {
  margin: 0;
  font-weight: 300;
  margin-bottom: 12px;

  @include vp-1365 {
    margin: 0;
    color: #495A7D;
  }

  @include vp-767 {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }

  &--text {

  @include vp-1365 {
    color: $color-base;
  }
  }
}

.cards__text {
  color: #e8e8e8;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  opacity: 0.48;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);

  @include vp-1365 {
    top: 51%;
  }

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
  }
}

.cards__wrapper {
  min-height: 150px;
  margin-bottom: 29px;
  display: flex;
  align-items: baseline;
  gap: 14px;

  @include vp-1365 {
    margin: 0;
  }

  @include vp-767 {
    padding: 1px 20px 9px;
    gap: 10px;
    min-height: 120px;
    min-width: 162px;
  }
}

.cards__wrapper svg {
  position: relative;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.cards__price {
  color: $color-accent;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  display: block;
  position: relative;
  padding: 54px 0 6px 19px;


  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
    padding: 50px 0 0 16px;
  }
}

.cards__button {
  border: 2px solid $color-base;
  color: $color-base;

  @include hover-focus {
    color: $color-default-white;
    background: $gradient-primary;
    border: 2px solid;
    border-image: $color-transparent;
    outline: none;
  }

  @include active {
    color: $color-default-white;
    background: $gradient-primary;
    border: 2px solid;
    border-image: $color-transparent;
    opacity: 0.7;
  }

  &--current {
    background: $gradient-primary;
    border: none;
    color: $color-default-white;

    @include hover-focus {
      border: none;
    }

    @include active {
      border: none;
    }
  }

  &:disabled,
  &--disabled {
    color: $color-base;
    opacity: 0.3;
    pointer-events: none;
    border: 2px solid $color-base;
    background: $color-default-white;
  }
}

.cards__button-text {
  padding: 25px 42px;
  display: block;
  width: max-content;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;

  @include vp-1365 {
    padding: 20px 42px;
  }

  &--current {
    padding: 27px 44px;

    @include vp-1365 {
      padding: 22px 44px;
    }
  }
}
