.cards {
  gap: 40px;
}

.cards__item {
  padding: 65px 78px;
  text-align: center;
  position: relative;
  width: 360px;

  &--current:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: 7px;
    background-color: $color-default-white;
    z-index: 1;
  }

  &--current:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #00359F 95.31%));
  }
}

.cards__wrapper {
  z-index: 1;
  position: relative;
}

.cards__title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 11px;
}

.cards__description {
  margin: 0;
  font-weight: 300;
  margin-bottom: 12px;
}

.cards__text {
  color: #e8e8e8;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  opacity: 0.48;
}

.cards__price {
  color: #103aae;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  display: block;
  position: absolute;
  top: 130px;
  left: 20px;
}

.cards__button {
  background-color: transparent;
  border: 2px solid #102654;
  display: block;

  &--current {
    background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));
    color: $color-default-white;
    border: none;
  }
}

.cards__button-text {
  padding: 25px 42px;
  display: block;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
