.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1365 {
    grid-template-columns: none;
  }
}

.cards__item {
  padding: 65px 78px;
  text-align: center;
  background-color: $color-default-white;
  max-width: 360px;
  position: relative;

  &--current {
    border: 7px solid;
    padding: 58px 71px;
    border-image: linear-gradient(to right,rgba(209, 10, 66, 1),rgba(0, 53, 159, 1))1;
  }
}

.cards__title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 11px;
}

.cards__description {
  margin: 0;
  font-weight: 300;
  margin-bottom: 12px;
}

.cards__text {
  color: #e8e8e8;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  opacity: 0.48;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
}

.cards__wrapper {
  min-height: 150px;
  margin-bottom: 29px;
  display: flex;
  align-items: baseline;
  gap: 14px;
}

.cards__wrapper svg {
  position: relative;
}

.cards__price {
  color: #103aae;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  display: block;
  position: relative;
  padding: 54px 0 6px 19px;
}

.cards__button {
  background-color: transparent;
  border: 2px solid #102654;
  display: block;

  &--current {
    background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));
    color: $color-default-white;
    border: none;
  }
}

.cards__button-text {
  padding: 25px 42px;
  display: block;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
