.faq {
  color: $color-base;
  background-color: $color-ghost-white;
}

.faq__wrapper {
  display: flex;
  gap: 40px;

  @include vp-1365 {
    flex-direction: column;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.faq__container h2 {
  font-family: $ff-base;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 51px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    margin-bottom: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 37px;
  }
}

.faq__text-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;

  @include vp-1365 {
    flex-direction: row;
    justify-content: space-between;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}

.faq__text-content li {
  min-width: 260px;

  @include vp-1365 {
    min-width: 162px;
  }

  @include vp-767 {
    min-width: 141px;
  }
}

.faq__text-content button {
  width: 100%;
  padding: 19px 48px 15px;
  border: 1px solid rgba(16, 38, 84, 0.20);
  background-color: transparent;
  border-radius: 0;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: $color-base;

  @include vp-1365 {
    padding: 18px 38px 16px;
  }

  @include vp-767 {
    padding: 14px 20px 12px;
    font-size: 16px;
    line-height: 16px;
  }

  @include hover-focus {
    outline: none;
    border-color: $color-base;
  }

  @include active {
    background: $gradient-primary;
    border: none;
    color: $color-default-white;
  }

  &:disabled,
  &--disabled {
    border-color: $color-base;
    opacity: 0.2;
  }
}

.faq__text-content .is-active {
  background: $gradient-primary;
  color: $color-default-white;
  border: none;
}

.faq__description-text-content {
  min-width: max-content;
  width: 100%;
}

.faq__description-text-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include vp-1365 {
    gap: 25px;
  }

  @include vp-767 {
    gap: 22px;
    padding-top: 22px;
  }
}

.faq__description-text-content li {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(28, 51, 116, 0.20);
    position: absolute;
    top: 0;
    left: 0;
    right: 103px;

    @include vp-1365 {
      top: -1px;
      right: 45px;
    }

    @include vp-767 {
      top: -23px;
    }
  }

  &:last-of-type {
    padding-bottom: 21px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(28, 51, 116, 0.20);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 103px;

      @include vp-1365 {
        bottom: 1px;
      }

      @include vp-767 {
        bottom: 0;
      }
    }

    @include vp-1365 {
      padding-bottom: 25px;
    }

    @include vp-767 {
      padding-bottom: 22px;
    }
  }

  @include vp-767 {
      display: flex;
      flex-direction: column;
      padding-bottom: 22px;
    }
}

.faq__description-text-content .is-active {

  @include vp-767 {
    gap: 20px;
  }
}

.faq__description-text-content h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
    max-width: 500px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    max-width: 238px;
  }
}

.is-active[data-accordion="element"] .faq__description-wrapper {

  @include vp-1365 {
    margin-bottom: 2px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.faq__description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  min-width: 860px;
  padding-top: 25px;

  @include vp-1365 {
    min-width: 678px;
    margin: 0;
  }

  @include vp-767 {
    min-width: 290px;
    padding: 0;
  }
}

.faq__description-text-content p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  max-width: 660px;

  @include vp-1365 {
    max-width: 559px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    max-width: 290px;
  }
}

.is-active[data-accordion="element"] p {
  margin-bottom: 1px;

  @include vp-1365 {
    margin: 0;
  }
}

.faq__button {
  position: relative;
  width: 40px;
  height: 40px;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  @include hover-focus {
    outline: none;

    .faq__button-wrapper {

      &--plus {
        background-color: $color-resolution-blue;
        color: $color-default-white;
      }

      &--minus {
        background-color: $color-default-white;
        color: $color-resolution-blue;
      }
    }
  }

  @include active {

    .faq__button-wrapper {
      opacity: 0.6;
    }
  }

  &:disabled,
  &--disabled {

    .faq__button-wrapper {
      opacity: 0.3;
    }
  }
}

.faq__button-wrapper {
  position: absolute;
  top: 20px;
  right: -20px;
  background-color: transparent;
  border: 1px solid $color-resolution-blue;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  &--minus {
    background-color: $color-resolution-blue;
    color: $color-default-white;

    @include vp-767 {
      right: -15px;
    }
  }

  &--plus {
    color: $color-resolution-blue;
  }
}

.is-active[data-accordion="element"] .faq__button-wrapper--minus {
  display: block;
}

.is-active[data-accordion="element"] .faq__button-wrapper--plus,
.faq__button-wrapper--minus {
  display: none;
}

.faq__button-wrapper svg {
  position: absolute;
  top: 18px;
  left: 9px;

  @include vp-767 {
    width: 14px;
    top: 13px;
    left: 7px;
  }
}

.faq__button-wrapper--plus svg {
  top: 10px;

  @include vp-767 {
    top: 4px;
  }
}

.faq__description-text-content br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
