.form__title {
  font-family: $ff-base;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 33px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 35px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 40px;
  }
}

.form__wrapper {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-bottom: 38px;

  @include vp-1365 {
    gap: 60px;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 35px;
  }
}

.form__item {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #74819C;
    position: absolute;
  }
}

.form__button {
  width: 100%;
  padding: 25px 54px;
  border: 2px solid $color-default-white;
  background-color: transparent;
  display: block;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-1365 {
    padding: 19px 195px;
  }

  @include vp-767 {
    padding: 20px 104px;
  }
}

.form__item input {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  min-width: 190px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;

  @include vp-1365 {
    min-width: 221px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  @include vp-767 {
    min-width: 290px;
    font-size: 14px;
    line-height: 22px;
  }

  &::placeholder {
    color: $color-default-white;
  }
}
