.games__wrapper {
  display: flex;
  justify-content: center;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.games__wrapper-description {
  padding: 80px;
  background-color: #ed0233;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  min-height: 500px;

  @include vp-1365 {
    max-width: 292px;
    padding: 45px;
    padding-top: 40px;
    min-height: auto;
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin: 0;
    padding: 40px;
    max-width: none;
  }
}

.games__text {
  margin: 0;
  font-family: $ff-base;
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  margin-bottom: 43px;

  @include vp-1365 {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
    margin-bottom: 22px;
  }
}

.games__description {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin-bottom: 55px;

  @include vp-1365 {
    margin-bottom: 21px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.games__group {
  padding-left: 68px;
  position: relative;

  @include vp-1365 {
    padding-left: 40px;
  }

  @include vp-767 {
    padding-left: 49px;
  }
}

.games__group-wrapper {
  margin-bottom: 19px;

  @include vp-1365 {
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 4px;
  }
}

.games__date,
.games__time {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    left: 68px;
    background-color: $color-default-white;
    position: absolute;

    @include vp-1365 {
      left: 41px;
    }

    @include vp-1365 {
      left: 49px;
    }
  }

  @include vp-1365 {
    margin-bottom: 2px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}

.games__date::after {
  top: 31px;
  max-width: 64px;

  @include vp-1365 {
    top: 23px;
    max-width: 42px;
  }

  @include vp-767 {
    top: 19px;
  }
}

.games__time::after {
  top: 127px;
  max-width: 92px;

  @include vp-1365 {
    top: 81px;
    max-width: 56px;
  }

  @include vp-767 {
    top: 72px;
  }
}

.games__day,
.games__hour {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }
}

.games__day {
  margin-right: 7px;

  @include vp-1365 {
    margin-right: 3px;
  }
}

.games__month,
.games__year {
  font-size: 14px;
  line-height: 14px;
  position: absolute;

  @include vp-1365 {
    font-size: 10px;
    line-height: 10px;
  }
}

.games__year {
  top: 58px;

  @include vp-1365 {
    top: 38px;
    left: 57px;
  }

  @include vp-767 {
    top: 35px;
    left: 65px;
  }
}

.games__month {
  top: 40px;

  @include vp-1365 {
    top: 28px;
    left: 57px;
  }

  @include vp-767 {
    top: 25px;
    left: 65px;
  }
}

.games__link {
  grid-column: 1 / -1;
  color: $color-default-white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 2px solid $color-default-white;
  max-height: 66px;
  padding: 25px 54px;

  @include vp-1365 {
    padding: 20px 40px;
    font-size: 12px;
    font-weight: 400
  }
}

.games__description br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
