.gym {
  padding: 120px 0 235px;
}

.gym__container {
  display: flex;
  gap: 145px;
  position: relative;
}

.gym__text-content {
  color: #102654;
  max-width: 355px;
  min-height: 401px;
}

.gym__text-content h2 {
  font-family: $ff-base;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 25px;
}

.gym__text-content h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 95px;
}

.gym__text-content p {
  font-weight: 300;
  margin: 0;
}

.gym__text-content p + p {
  margin-top: 8px;
}

.gym__wrapper-video {
  position: absolute;
  top: 288px;
  right: 500px;
}

.gym__iframe {
  background-color: #030a1a;
}
