.gym__container {
  display: flex;
  gap: 145px;
  position: relative;
  padding-bottom: 235px;

  @include vp-1365 {
    flex-direction: column;
    gap: 36px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    gap: 40px;
    padding: 70px 0;
  }
}

.gym__text-content {
  color: #102654;
  max-width: 355px;
  min-height: 401px;

  @include vp-1365 {
    margin: 0 auto;
    text-align: center;
    max-width: 502px;
    min-height: auto;
  }

  @include vp-767 {
    text-align: left;
    padding: 0 15px;
  }
}

.gym__text-content h2 {
  font-family: $ff-base;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 25px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 13px;
  }
}

.gym__text-content h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 95px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 36px;
  }

  @include vp-767 {
    font-size: 18px;
    margin-bottom: 38px;
  }
}

.gym__text-content p {
  font-weight: 300;
  margin: 0;

  @include vp-1365 {
    margin: 0 auto;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}

.gym__text-content p + p {
  margin-top: 8px;

  @include vp-1365 {
    display: none;
  }
}

.gym__wrapper-video {
  position: absolute;
  left: 722px;
  bottom: -4px;
  transform: translate(-50%, -50%);

  @include vp-1365 {
    left: 50%;
    bottom: 7px;
  }

  @include vp-767 {
    position: static;
    transform: none;
    max-height: 167px;
  }
}

.gym__iframe {
  background-color: #030a1a;
  width: 364px;
  height: 228px;
  border: none;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.gym__text-content br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
