.hero {
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  color: $color-default-white;
}

.hero__container {
  display: flex;
  gap: 70px;
  padding-top: 0;

  @include vp-1365 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.hero__wrapper-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;

  @include vp-1365 {
    gap: 0;
  }
}

.hero__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $ff-placeholder;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-end;
}

.hero__wrapper-group-title {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  text-align: right;
  max-width: 270px;

  @include vp-1365 {
    max-width: 175px;
  }
}

.hero__title {
  font-family: $ff-base;
  font-size: 92px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin: 0;

  @include vp-1365 {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0;
  }
}

.hero__subtitle {
  font-family: $ff-base;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  text-transform: uppercase;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }
}

.hero__button {
  padding: 27px 54px;
  border: 2px solid $color-default-white;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $color-default-white;
  max-width: 230px;

  @include vp-1365 {
    padding: 22px 0;
    min-width: 185px;
  }
}

.hero__container-image {
  @include vp-767 {
    display: none;
  }
}

