.jury-swiper__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 294px
}

.jury-swiper__item {
  max-width: 260px;

  @include vp-1365 {
    min-width: 268px;
  }

  @include vp-767 {
    min-width: 226px;
  }
}

.jury-swiper__title {
  position: absolute;
  color: $color-default-white;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  top: 257px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: max-content;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    top: 239px;
  }
}

.jury-swiper__button {
  position: absolute;
  top: 246px;
  background-color: transparent;
  border: none;
  color: $color-default-white;
  width: 16px;
  height: 32px;
  top: 252px;

  &::after {
    display: none;
  }

  @include vp-1365 {
    top: 235px;
  }

  @include vp-767 {
    top: 223px;
    width: 10px;
    height: 19px;
  }

  &--prev {
    left: 46px;

    @include vp-1365 {
      left: 44px;
    }

    @include vp-767 {
      left: 18px;
    }
  }

  &--next {
    right: 47px;
    transform: rotate(180deg);

    @include vp-1365 {
      right: 44px;
    }

    @include vp-767 {
      right: 18px;
    }
  }
}

.jury-swiper__wrapper-card {
  display: none;
}

.jury-swiper__item:hover .jury-swiper__wrapper-card {
  display: block;
  position: absolute;
  top: 75px;
}

.jury-swiper__item:hover .jury-swiper__title {
  top: 45px;
}

.jury-swiper__card-list {
  margin: 0;
  padding: 50px;
  padding-top: 33px;
  color: $color-default-white;
  list-style-type: disc;
}

.jury-swiper__text-card {
  color: #B6BDCC;
  font-weight: 300;
  text-align: center;
  display: block;
}
