.jury__container {
  padding: 0 103px 120px;
  position: relative;

  @include vp-1365 {
    padding: 0 100px 100px;
  }

  @include vp-767 {
    padding: 0 47px 70px;
  }
}

.jury__title {
  color: $color-base;
  margin: 0;
  margin-bottom: 45px;

  @include vp-1365 {
    text-align: center;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.jury__swiper-button {
  position: absolute;
  top: 246px;
  background-color: $color-transparent;
  border: none;
  width: 16px;
  height: 32px;
  top: 254px;
  color: $color-base;

  &::after {
    display: none;
  }

  &::before {
    content: '';
    width: 58px;
    height: 58px;
    border: 1px solid $color-base;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -19px;
    display: none;
  }

  @include vp-1365 {
    top: 235px;
  }

  @include vp-767 {
    top: 223px;
    width: 10px;
    height: 19px;
  }

  @include hover-focus {
    outline: none;

    &::before {
      display: block;
    }
  }

  @include active {
    color: $color-default-white;

    &::before {
      display: block;
      background-color: $color-base;
      z-index: -1;
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--prev {
    left: 46px;

    @include vp-1365 {
      left: 44px;
    }

    @include vp-767 {
      left: 18px;
    }
  }

  &--next {
    right: 47px;
    transform: rotate(180deg);

    @include vp-1365 {
      right: 44px;
    }

    @include vp-767 {
      right: 18px;
    }
  }
}
