.main-footer {
  background-color: #030A1A;
}

.main-footer__container {
  padding: 0 103px;
  display: flex;
  min-height: 105px;
  align-items: center;

  @include vp-1365 {
    padding: 0 45px;
    justify-content: space-between;
    min-height: 115px;
  }

  @include vp-767 {
    padding: 0 15px;
    flex-direction: column;
    min-height: auto;
  }
}

.main-footer__link {
  padding: 41px 0 40px;
  margin-right: 255px;

  @include vp-1365 {
    margin-right: 44px;
  }

  @include vp-767 {
    margin-right: auto;
    padding: 29px 0;
  }
}

.main-footer__link img {

  @include vp-767 {
    width: 91px;
    height: 15px;
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
