.main-footer {
  display: flex;
  flex-direction: column;
  background-color: $color-black-russian;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
  }
}

.main-footer__container {
  padding: 0 103px;
  display: flex;
  align-items: center;
  grid-column: 1 / -1;

  @include vp-1365 {
    padding: 0 45px;
    justify-content: space-between;
    min-height: 115px;
  }

  @include vp-767 {
    padding: 0 15px;
    flex-direction: column;
    min-height: auto;
  }
}

.main-footer__link {
  padding: 40px 0;
  margin-right: 244px;

  @include vp-1365 {
    margin-right: 33px;
  }

  @include vp-767 {
    margin-right: auto;
    padding: 29px 0;
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }
}

.main-footer__link img {
  width: 109px;
  height: 24px;

  @include vp-1365 {
    width: 100px;
    height: 22px;
  }

  @include vp-767 {
    width: 91px;
    height: 15px;
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
