.offers {
  text-align: center;
}

.offers__text-content {
  color: $color-resolution-blue;
}

.offers__text-content h2 {
  color: $color-base;
  font-family: $ff-base;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 70px;
  display: block;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
  }
}

.offers__text-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.offers__text-content li {

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.offers__text-content li:first-of-type {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-torch-red-banner;
  color: $color-default-white;

  @include vp-1365 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.offers__wrapper-text-content {
  padding: 45px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  @include vp-1365 {
    max-width: 279px;
    padding: 45px;
  }

  @include vp-767 {
    max-width: none;
    text-align: center;
    padding: 45px 50px 51px;
    align-items: center;
  }
}

.offers__wrapper-text-content b {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 25px;
  display: block;

  @include vp-1365 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 64px;
    line-height: 64px;
  }
}

.offers__wrapper-text-content a,
.offers__text-content a {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: block;
}

.offers__text-content a {
  color: $color-resolution-blue;
  position: relative;
  width: min-content;

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    outline: none;

    &::after {
      display: none;
    }

    span {

      &::before {
        display: block;
        border-color: $color-base;
      }

      &::after {
        display: none;
      }
    }
  }

  @include active {
    opacity: 1;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.offers__wrapper-text-content a {
  color: $color-default-white;

  @include focus {
    outline: none;

    span {

      &::before {
        display: block;
        border-color: $color-default-white;
      }
    }
  }
}

.offers__text-content h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: normal;

  @include vp-1365 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.offers__text-content p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 67px;

  @include vp-1365 {
    margin-bottom: 45px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 31px;
  }
}

.offers__wrapper-text-content h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 15px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 9px;
  }
}

.offers__wrapper-text-content p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 174px;

  @include vp-1365 {
    margin-bottom: 188px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
  }
}

.offers__text-content li:not(:first-of-type) {
  border: 7px solid;
  padding: 23px 28px 33px;
  border-image: $main-screen-gradient;
  border-image-slice: 1;

  @include vp-767 {
    padding: 38px 53px;
    text-align: center;
    align-items: center;
  }
}

.offers__text-content br {
  display: none;
}

.offers__text-content span {

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-resolution-blue;
    position: absolute;
    top: 17px;
    left: 0;

    @include vp-1365 {
      top: 18px;
    }

    @include vp-767 {
      top: 18px;
    }
  }

  &::before {
    content: "";
    width: 100%;
    min-width: 99px;
    min-height: 34px;
    border: 1px solid $color-default-white;
    position: absolute;
    top: -10px;
    left: -10px;
    display: none;
  }
}

.offers__wrapper-text-content span {

  &::after {
    background-color: $color-default-white;

    @include vp-1365 {
      top: 16px;
    }

    @include vp-767 {
      top: 18px;
    }
  }
}
