.poster {
  transition: opacity 350ms ease-in;
}

.poster__wrapper {
  position: absolute;
  top: 0;

  &::after {
    content: "";
    width: 100%;
    min-height: 228px;
    background: rgba(20, 54, 122, 0.5);
    display: block;
    position: absolute;
    top: 0;

    @include vp-1365 {
    min-height: 167px;
  }
  }

  &--del {
    display: none;
  }

  &--hidden {
    opacity: 0;
  }

  @include vp-767 {
    top: 74%;
  }
}

.poster__button {
  border: none;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  min-height: 100px;
  min-width: 100px;

  @include vp-1365 {
    min-height: 72px;
    min-width: 72px;
    top: 48%;
  }

  @include vp-767 {
    top: 83%;
  }
}

.poster__text {
  border-radius: 50px;
  background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
  width: 72px;
  height: 72px;
  display: block;
  position: absolute;
  top: 13px;
  left: 14px;

  @include vp-1365 {
    width: 52px;
    height: 52px;
    top: 10px;
    left: 10px;
  }
}

.poster__text svg {
  position: absolute;
  top: -14px;
  left: -14px;

  @include vp-1365 {
    width: 72px;
    height: 72px;
    top: -10px;
    left: -10px;
  }
}
