.poster {
  transition: opacity 350ms ease-in;
}

.poster__wrapper {
  position: absolute;
  top: 0;

  &::after {
    content: "";
    width: 100%;
    min-height: 228px;
    background: rgba(20, 54, 122, 0.5);
    display: block;
    position: absolute;
    top: 0;

    @include vp-1365 {
    min-height: 167px;
  }
  }

  &--del {
    display: none;
  }

  &--hidden {
    opacity: 0;
  }
}

.poster__button {
  border: none;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;

  @include vp-1365 {
    min-height: 72px;
    min-width: 72px;
    top: 48%;
  }

  @include vp-767 {
    top: 83px;
  }

  @include hover-focus {

    .poster__wrapper-button {
      background: $color-default-white;
      color: $color-base;

      &::after {
        border-color: $color-base;
        opacity: 1;
      }
    }
  }

  @include active {

    .poster__wrapper-button {
      background: $color-default-white;
      color: $color-base;

      &::after {
        border-color: $color-base;
        opacity: 1;
      }
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.poster__wrapper-button {
  border-radius: 50px;
  background: $gradient-primary;
  width: 72px;
  height: 72px;
  display: block;
  position: absolute;
  top: 13px;
  left: 14px;
  color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $color-torch-red-banner;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include vp-1365 {
      width: 72px;
      height: 72px;
    }
  }

  @include vp-1365 {
    width: 52px;
    height: 52px;
    top: 10px;
    left: 10px;
  }
}

.poster__wrapper-button svg {
  position: absolute;
  top: -12px;
  left: -14px;

  @include vp-1365 {
    width: 72px;
    height: 72px;
    top: -10px;
    left: -10px;
  }
}
