.slider {
  position: relative;
}

.slider__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.slider__item {
  position: relative;
  min-width: 260px;
  min-height: 294px;
}

.slider__title {
  position: absolute;
  color: $color-default-white;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  top: 257px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: max-content;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;

  &--prev {
      left: -49px;
  }

  &--next {
    right: -76px;
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.slider__wrapper-card {
  display: none;
}

.slider__item:hover .slider__wrapper-card {
  display: block;
  position: absolute;
  top: 75px;
}

.slider__item:hover .slider__title {
  top: 45px;
}

.slider__card-list {
  margin: 0;
  padding: 50px;
  padding-top: 33px;
  color: $color-default-white;
  list-style-type: disc;
}

.slider__text-card {
  color: #B6BDCC;
  font-weight: 300;
  text-align: center;
  display: block;
}
