.slider {
  position: relative;
}

.slider__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;

  @include vp-1365 {
    padding: 0 55px;
    gap: 32px;
  }
}

.slider__item {
  position: relative;
  min-width: 260px;
  min-height: 294px;
}

.slider__title {
  position: absolute;
  color: $color-default-white;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  top: 257px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: max-content;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: $color-default-white;

  &--prev {
      left: -49px;

    @include vp-1365 {
      left: 8px;
      top: 51%;
    }
  }

  &--next {
    right: -76px;
    transform: translate(-50%, -50%) rotate(180deg);

    @include vp-1365 {
      right: -20px;
      top: 49%;
    }
  }
}

.slider__wrapper-card {
  display: none;
}

.slider__item:hover .slider__wrapper-card {
  display: block;
  position: absolute;
  top: 75px;
}

.slider__item:hover .slider__title {
  top: 45px;
}

.slider__card-list {
  margin: 0;
  padding: 50px;
  padding-top: 33px;
  color: $color-default-white;
  list-style-type: disc;
}

.slider__text-card {
  color: #B6BDCC;
  font-weight: 300;
  text-align: center;
  display: block;
}
