.subscription {
  background-color: $color-ghost-white;
  color: $color-base;
  position: relative;
  min-height: 851px;

  @include vp-1365 {
    min-height: 1749px;
  }

  @include vp-767 {
    min-height: 1457px;
  }
}

.subscription__container {
  display: grid;
  gap: 38px;
  position: absolute;
  z-index: 1;
  top: 1px;

  @include vp-1365 {
    display: block;
    text-align: center;
    padding: 100px 164px;
  }

  @include vp-767 {
    padding: 72px 15px;
  }
}

.subscription__title {
  margin: 0;
  text-align: center;

  @include vp-1365 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 19px;
  }
}

.subscription__list {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  position: relative;

  &:first-of-type::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.20);
    position: absolute;
    top: 34px;
    max-width: 349px;

    @include vp-1365 {
      top: 31px;
    }

    @include vp-767 {
      top: 35px;
    }
  }

  @include vp-1365 {
    gap: 54px;
    padding-bottom: 13px;
    max-width: 332px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  @include vp-767 {
      padding: 0;
      gap: 46px;
      margin-bottom: 51px;
    }
}

.subscription__item {
  font-size: 20px;
  line-height: 20px;
}

.subscription__button {
  color: rgba(16, 38, 84, 0.50);
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;

  &--current {
    color: $color-base;
    position: relative;
  }

  &--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #D10A42;
    position: absolute;
    top: 34px;

    @include vp-1365 {
      top: 29px;
    }

    @include vp-767 {
      top: 32px;
    }
  }

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.subscription__wrapper {
  position: absolute;
  right: 0;
  bottom: -154px;

  @include vp-1365 {
    bottom: -147px;
  }

  @include vp-767 {
    display: none;
  }
}
